################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerCheck/ServerCheck/bin
/ServerCheck/packages
/ServerCheck/ServerCheck/obj/Release
